@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

$font-family: "Libre Franklin", sans-serif;
$Blue: hsl(223, 87%, 63%);
$Pale_Blue: hsl(223, 100%, 88%);
$Light_Red: hsl(354, 100%, 66%);
$Gray: hsl(0, 0%, 59%);
$Very_Dark_Blue: hsl(209, 33%, 12%);
$width: 100%;

@mixin align_flex_center($alignement, $center: center) {
    display: flex;
    align-items: $center;
    justify-content: $center;
    flex-direction: $alignement;
}

@mixin text-center {
    text-align: center;
}

body {
    @include align_flex_center(column);
    font-family: $font-family;
    font-size: 20px;
    margin: 50px auto;
    max-width: 1440px;
    box-sizing: border-box;

    header {
        @include text-center;

        img {
            width: 100%;
            margin: 0 0 0 0;
        }
    }

    main {
        @include align_flex_center(column);
        padding: 0 20px;

        h1 {
            font-size: 2.2rem;
            font-weight: 300;
            padding: 0;
            margin: 0;
            color: $Gray;

            span {
                color: #000;
                font-weight: 700;
            }
        }

        h2 {
            font-size: 1.1rem;
            padding: 0;
            margin: 10px 0 25px 0;
            font-weight: 300;
        }

        form {
            @include align_flex_center(row);
            flex-wrap: wrap;
            width: $width;
            margin: 0 0 50px 0;

            div {
                height: 50px;

                button {
                    width: 150px;
                    margin-left: 15px;
                    color: #fff;
                    background-color: $Blue;
                    border: 1px solid $Blue;
                    border-radius: 150px;
                    height: 50px;
                    padding: 0 25px;

                    &:hover {
                        box-shadow: 1px 1px 15px 0px $Blue;
                        cursor: pointer;
                    }
                }

                input {
                    width: 400px;
                    border: 1px solid $Pale_Blue;
                    border-radius: 150px;
                    height: 50px;
                    padding: 0 25px;

                    &:focus {
                        outline: none;
                    }

                    &::placeholder {
                        color: $Pale_Blue;
                    }
                }

                #ErrorMsg {
                    text-align: left;
                    color: $Light_Red;
                    font-size: 1rem;
                    margin: 5px 0 0 25px;
                    font-style: italic
                }
            }


        }

        div {
            @include text-center;

            i {
                font-size: 1.5rem;
                margin: 0 0 10px 0;
            }

            img {
                width: $width/2;
            }
        }

    }

    footer {
        @include align_flex_center(column);

        div {
            @include text-center;

            .fa-brands {
                font-size: 1.1rem;
                border: 1px solid $Pale_Blue;
                border-radius: 50%;
                padding: 10px;
                width: 17px;
                height: 17px;
                color: $Blue;

                &:hover {
                    background-color: $Blue;
                    color: #fff;
                }

                &:not(:last-child) {
                    margin: 75px 15px 10px 0;
                }
            }


            p {
                font-size: 0.9rem;
                font-weight: 300;
                margin: 0 0 25px 0;
                color: $Gray;
            }
        }
    }
}

@media all and (max-width: 375px) {
    body {
        main {
            h1 {
                font-size: 2rem;
                text-align: center;
                margin: 25px 0 35px 0;
            }

            h2 {
                font-size: 0.8rem;
            }

            div {
                img {
                    width: $width;
                }
            }

            form {
                div {
                    height: unset;

                    input {
                        width: 300px;
                    }

                    #ErrorMsg {
                        text-align: center;
                        font-size: 0.7rem;
                    }

                    button {
                        width: 350px;
                        margin: 25px 0 50px 0;
                    }
                }
            }
        }
    }

}